@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Krona One", sans-serif;
  /* background: linear-gradient(-135deg, #c850c0, #4158d0); */
}

.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.login-container {
  width: 45em;
  padding: 177px 130px 33px 95px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 15px;
}

.left {
  flex-grow: 1;
  align-self: end;
}
.right {
  flex-grow: 1;
}
.login-details {
  display: flex;
  flex-direction: column;
}

.login-details p {
  align-self: center;
  font-size: 1.5em;
}

input {
  background: lightgrey;
  margin: 5px 0 5px 0;
  border: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 1em;
}

#email-input {
  background-image: url(./image/mail.png);
  background-repeat: no-repeat;
  background-position: 1em;
  text-indent: 35px;
}

#password-input {
  background-image: url(./image/lock.png);
  background-repeat: no-repeat;
  background-position: 1em;
  text-indent: 35px;
}
button {
  padding: 0.75em;
  background-color: rgba(87, 184, 70, 0.8);
  border-radius: 15px;
  border: none;
  color: white;
  font-size: 1.2em;
  margin-top: 2em;
}

button:hover {
  background: #333333;
  cursor: pointer;
}

input:focus,
button:focus {
  outline: none;
}
.reset-details p {
  font-family: "Cormorant Garamond", serif;
}

a {
  font-weight: 800;
  text-decoration: none;
  color: black;
  font-family: "Cormorant Garamond", serif;
}

a:hover {
  color: rgba(87, 184, 70, 0.8);
}

p {
  text-align: center;
}

.create-account {
  margin-top: 8em;
  margin-bottom: 0%;
}

#arrow {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .login-container {
    width: 65vw;
    padding: 10px;
  }

  .left {
    position: absolute;
    visibility: hidden;
  }

  .right {
    padding: 2em 0.5em 1em 0.5em;
  }
}

@media (max-width: 375px) {
  .login-container {
    /* height: 75vh; */
  }

  button {
    font-size: 0.5em;
  }

  .login-details p {
    font-size: 1em;
  }

  input {
    font-size: 0.5em;
    background-size: 10px;
    text-indent: 25px;
    margin: 5px 0 5px 0;
    padding: 1em;
  }

  p {
    font-size: 0.5em;
  }

  .create-account {
    margin-top: 4em;
  }
}
